@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 229 100% 100%;
  --foreground: 229 5% 10%;
  --card: 229 50% 100%;
  --card-foreground: 229 5% 15%;
  --popover: 229 100% 100%;
  --popover-foreground: 229 100% 10%;
  --primary: 229 45.9% 68.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 229 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 191 30% 95%;
  --muted-foreground: 229 5% 40%;
  --accent: 191 30% 90%;
  --accent-foreground: 229 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 229 5% 100%;
  --border: 229 30% 82%;
  --input: 229 30% 50%;
  --ring: 229 45.9% 68.8%;
  --radius: 1rem;
}
.dark  {
  --background: 229 50% 10%;
  --foreground: 229 5% 100%;
  --card: 229 50% 10%;
  --card-foreground: 229 5% 100%;
  --popover: 229 50% 5%;
  --popover-foreground: 229 5% 100%;
  --primary: 229 45.9% 68.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 229 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 191 30% 25%;
  --muted-foreground: 229 5% 65%;
  --accent: 191 30% 25%;
  --accent-foreground: 229 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 229 5% 100%;
  --border: 229 30% 50%;
  --input: 229 30% 50%;
  --ring: 229 45.9% 68.8%;
  --radius: 1rem;
}


@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg overflow-x-auto py-4
}
 
pre [data-line] {
  @apply px-4
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
counter-increment: line;
content: counter(line);

/* Other styling */
display: inline-block;
width: 1rem;
margin-right: 2rem;
text-align: right;
color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
width: 3rem;
}